.toOzzuuBible
  position: relative

  &::before
    content: ""
    position: absolute
    width: 103%
    height: .1em
    background: #33999933
    transition: 0.5s !important
    bottom: 0em
    border-radius: 1em
    padding: 0.1em
    left: -0.1em

  &:hover
    text-decoration: none
    &::before
      height: 1.2em
